apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "garage-ui.fullname" . }}-config
  labels:
    {{- include "garage-ui.labels" . | nindent 4 }}
data:
  config.yaml: |
{{- $config := deepCopy .Values.config }}
{{- $_ := unset $config.garage "admin_token" }}
{{- $config | toYaml | nindent 4 }}
